<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreenshotTool.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MultiScreenScreenshot.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ScreenshotTool.config>
            <setting name="path" serializeAs="String">
                <value>&lt;Unset&gt;</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="instantShortcut" serializeAs="String">
                <value />
            </setting>
            <setting name="cropShortcut" serializeAs="String">
                <value />
            </setting>
            <setting name="PrimaryColor" serializeAs="String">
                <value />
            </setting>
            <setting name="gifShortcut" serializeAs="String">
                <value />
            </setting>
        </ScreenshotTool.config>
        <MultiScreenScreenshot.config>
            <setting name="path" serializeAs="String">
                <value>&lt;Unset&gt;</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </MultiScreenScreenshot.config>
    </userSettings>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="Unaware" />
    </System.Windows.Forms.ApplicationConfigurationSection>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="False" />
  </appSettings>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-4.0.0.2" newVersion="4.0.0.2" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
</configuration>
